.info-wrapper{
    display: flex;
    justify-content: space-around;
}

.record-img {
    width: 75%;
    height: 85%;
    /* width: 86%; */
}

.author{
    font-style: italic;
    margin-top: 4px;
}

.record-name{
    margin-bottom: 4px;
}

.btn-content{
    margin-left: 2.5px;
}

.record-description{
    line-height: 22px;
}

@media only screen and (max-width: 901px) {
    .info-wrapper{
        flex-direction: column;
        text-align: center;
    }
}