.record-img {
    width: 75%;
}

.author{
    font-style: italic;
    margin-top: 4px;
}

.record-name{
    margin-bottom: 4px;
}

.btn-content{
    margin-left: 2.5px;
}

.record-description{
    line-height: 22px;
}