.card-container {
    display: flex;
    margin-bottom: 3rem;
    border-radius: 1.2rem;
}

.record-img {
    width: 20%;
}

.card-data{
    width: 75%;
    margin-left: 2rem;
}

.record-name {
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.record-creator {
    margin-top: 0.5rem;
}

.button-holder{
    margin-right: 0.7rem;
}

@media only screen and (max-width: 650px) {
    .card-container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .record-img{
        width: 50%
    }

    .btn-content{
        display: none;
    }

}

@media only screen and (max-width: 1200px) {
    .record-img {
        width: 22%;
    }
}

@media only screen and (max-width: 900px) {
    .record-img {
        width: 40%;
    }

    .btn-content{
        display: none;
    }

}
